red{color: red;}
#colon { visibility:hidden }
/* Row CSS*/
#departure td.to_via {
    width: 45%;
}
#departure td.spoor{
    background: #fff url('img/blokje.png') no-repeat;
    color: #009;
    text-transform: lowercase;
    font-weight: bold;
    padding: 5px 0;
    border: 2px solid #009;
    width: 50px;
    text-align: center;
    height: 50px;
    max-width: 40px;
    font-size: 150%;
    margin: 0 auto;}
#departure td.tijd{
    text-align: center;
    width: 7%;
    min-width: 75px;
    font-weight: bold;
    font-size: 110%;
    color: #009;
}
.tijden{
    width: 100%;
}
.logo{
    width: 32px;
    display: block;
    margin: auto;
}
.clock{
    font-weight: bold;
    background-color: #000099;
    color: white;
    text-align: center;
}
/* Header CSS*/
#header{
}
#header td.to_via{
    width: 45%;
}
#header td.spoor{
    width: 50px;
    text-align: center;
}
#header td.type{
    width: 60px;
    text-align: center;
}
#header td.vervoer{
    width: 90px;
    text-align: center;
}
#header td.tijd{
    text-align: center;
}