@import url('https://fonts.googleapis.com/css?family=Open+Sans');
red{color: red;
    font-family: 'Open Sans', sans-serif;}
.even{
    background-color: #d5e5ff;
    color: #000099;
}
.odd{
    background-color: #ffffff;
    color: #000099;
}
.tijden{
    position: absolute; top: 0; bottom: 0; left: 0; right: 0;
    width:100%;
}
#colon { visibility:hidden }
/* Row CSS*/
#departure td.to_via {
    width: 45%;
    font-weight: bold;
    vertical-align: top;
    font-size: 110%;
    font-family: 'Open Sans', sans-serif;
    color: #009;
    padding-left: 10px;
    vertical-align: top;
}
.spoor{
    background: #fff url('img/blokje.png') no-repeat;
    color: #009;
    text-transform: lowercase;
    font-weight: bold;
    padding: 5px 0;
    border: 2px solid #009;
    width: 40px;
    text-align: center;
    height: 30px;
    max-width: 40px;
    font-size: 150%;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;}
#departure td.spoort{
    width: 60px;
    height: 60px;
}
#departure{
    height: 50%;
}
#departure td.tijd{
    text-align: center;
    width: 7%;
    min-width: 75px;
    font-weight: bold;
    vertical-align: top;
    font-size: 110%;
    font-family: 'Open Sans', sans-serif;
    color: #009;
}
#departure td.vervoer{
    font-size: 110%;
    font-weight: bold;
    color: #000099;
    font-family: 'Open Sans', sans-serif;
    padding-left: 10px;
}

.logo{
    width: 32px;
    vertical-align:middle
}
.clock{
    font-weight: bold;
    background-color: #000099;
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    width: 150px;
}
/* Header CSS*/
#header{
    height: 10%;
}
#header td.to_via{
    width: 45%;
    padding-left: 10px;
    font-family: 'Open Sans', sans-serif;
}
#header td.spoorh{
    width: 50px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
#header td.type{
    width: 60px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
#header td.vervoer{
    width: 120px;
    font-family: 'Open Sans', sans-serif;
    padding-left: 10px;
}
#header td.tijd{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}